.login {
  background: #f9f9f9;
  display: flex;
  align-items: center;
  height: 100vh;

  &__box {
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 20%);
  }
  &__pic {
    width: 60%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__detail {
    width: 40%;
  }
  &__form {
    width: 80%;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 20px;
    span {
      font-size: 26px;
      text-align: left;
      border-bottom: 3px solid #2386c7;
      font-weight: 600;
      color: #2386c7;
    }
  }
  &__input {
    text-align: left;
    margin: 0 0 10px;
    label {
      color: #6f8cbe;
    }
    input {
      width: 100%;
      padding: 10px;
      border-radius: 25px;
      border: 1px solid #2386c7;
    }
  }
  
  &__button {
    margin-top: 25px;
    position: relative;
    button {
      cursor: pointer;
      width: 100%;
      background: #2386c7;
      padding: 10px;
      border: none;
      border-radius: 25px;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
    }
    p{
      position: absolute;
      left: 0;
      top: 60px;
      width: 100%;
      text-align: center;
      margin: 0;
      font-style: italic;
      color: red;
    }
  }
}
