.registercontract {
  &__box {
    background: #fff;
    border: 1px solid #dee2e6;
    padding-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  }
  &__title {
    padding: 10px 7px;
    border-bottom: 1px solid #dee2e6;
    span {
      font-size: 20px;
      font-weight: 500;
      color: #000;
      margin: 0 40px;
    }
  }
  &__content {
    margin: 30px 40px;
  }
  &__group {
    width: 100%;

    text-align: center;
  }
  &__submit {
    text-align: right;
    margin: 0 40px;
  }
  &__button {
    display: inline-block;
    background: #0088ff;
    color: #fff;
    font-weight: 500;
    padding: 7px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
  }
}
