.collaborator {
  background: #f4f6f8;
  height: 100vh;
  padding: 0 80px;
  &__box {
    background: #fff;
    border: 1px solid #dee2e6;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  }
  &__title {
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    span {
      font-size: 19px;
      font-weight: 500;
      color: #000;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
  }
  &__item {
    width: 33%;
    padding: 25px;
    text-align: center;
    border: 1px solid #dee2e6;
    transition: all 0.2s linear;
    background: #fff;
    border-right: none;
    p {
      margin: 0;
    }
    &:nth-child(3) {
      border-right: 1px solid #dee2e6;
    }
    &:hover {
      background: #eee;
      border: 1px solid #aaadaf;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    }
  }
}
