.deleteCustomer {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__content {
    background: #fff;
    width: 30%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    p {
      font-weight: 500;
      font-size: 17px;
      text-align: center;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    button {
      padding: 5px 10px;
      width: 20%;
      text-align: center;
      transition: all 0.2s linear;
      border: 1px solid #888;
      border-radius: 5px;
      &:hover {
        background: #0088ff;
        border: none;
        border-radius: 5px;
      }
    }
  }
}
