.ratings {
  &__name {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 20px;
  }
  &__box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  }

  table {
    border: 1px solid #dee2e6;
    background: #fff;
    th,
    td {
      padding: 10px;
      font-size: 16px;
      text-align: center;
      img {
        width: 14px;
        height: auto;
      }
    }
    th {
      background: #496891;
      color: #fff;
    }
  }
}
