.detailratings {
  background: #f4f6f8;
  height: 100vh;
  padding: 20px 80px;
  &__arrow {
    color: #888;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s linear;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
  }

  &__name {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    padding: 30px 0;
  }
  &__box {
    background: #fff;
    border: 1px solid #dee2e6;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    margin-bottom: 40px;
  }
  &__title {
    padding: 12px 7px;
    border-bottom: 1px solid #dee2e6;
    background: #f4f6f8;
    span {
      font-size: 18px;
      font-weight: 400;
      color: #0088ff;
      margin: 0 30px;
    }
  }
  &__content {
    display: flex;
    padding: 40px;
  }
  table {
    border: 1px solid #dee2e6;
    th,
    td {
      border-bottom: 1px solid #dee2e6 !important;
      border-top: none !important;
      padding: 10px;
      font-size: 16px;
      text-align: center;
    }
    th {
      background: #f4f6f8;
    }
  }
}
