.detailratings {
  &__arrow {
    color: #888;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s linear;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
  }

  &__box {
    background: #fff;
    border: 1px solid #dee2e6;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  }
  &__title {
    font-size: 18px;
    font-weight: 400;
    color: #0088ff;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 15px 5px;
    margin: 0 40px;
    border-bottom: 1px solid #dee2e6;
  }
  &__table {
    padding: 30px 40px;
  }
  table {
    border: 1px solid #dee2e6;
    margin: 0;
    th,
    td {
      border-bottom: 1px solid #dee2e6 !important;
      border-top: none !important;
      padding: 10px;
      font-size: 16px;
      text-align: center;
    }
    th {
      background: #f4f6f8;
    }
  }
}
