.header {
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  position: relative;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
  }
  &__des {
    font-size: 17px;
    font-weight: 600;
  }
  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 23px 0;
    p {
      margin: 0 0 2px;
    }
    &:hover .header__dropdown {
      display: block;
    }
  }
  &__user {
    width: 22%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__dropdown {
    transition: all 0.2s linear;
    display: none;
    position: absolute;
    top: 87px;
    width: 215px;
    background: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    padding: 6px 20px;
    text-align: left;
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      padding: 5px 10px;
      background: #fff;
      border-radius: 5px;
      margin: 10px 0;
    }
  }
}
