.header {
  background: #fff;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
  }
  &__des {
    font-size: 19px;
    font-weight: 600;
  }
  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px 0;
    gap: 8px;
    cursor: pointer;
    position: relative;
    p {
      margin: 0;
      color: #616060;
    }
    &:hover .header__dropdown {
      display: block;
    }
  }
  &__user {
    img {
      width: 24px;
      height: auto;
      display: block;
    }
  }
  &__dropdown {
    transition: all 0.2s linear;
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 200px;
    background: #fff;
    border-radius: 8px;

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    padding: 0px 10px;
    text-align: left;
    z-index: 9;
    ul {
      padding: 0;
      margin: 10px 0px;
    }
  }
}
