.header {
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  position: relative;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
  }
  &__des {
    font-size: 19px;
    font-weight: 600;
  }
  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 15px 0;
    gap: 8px;
    cursor: pointer;
    p {
      margin: 0;
      color: #616060;
    }
    &:hover .header__dropdown {
      display: block;
    }
  }
  &__user {
    img {
      width: 24px;
      height: auto;
      display: block;
    }
  }
  &__dropdown {
    transition: all 0.2s linear;
    display: none;
    position: absolute;
    top: 35px;
    width: 180px;
    background: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    text-align: left;
    z-index: 9;
    ul {
      padding: 0;
      margin: 10px 0px;
    }
  }
}
