.home {
  width: 100%;
  display: flex;
  &__sidebar {
    width: 13%;
  }
  &__box {
    width: 87%;
  }
  @media (max-width: 1440px) {
    &__sidebar {
      width: 15%;
    }
    &__box {
      width: 85%;
    }
  }
}
