.contract {
  background: #f4f6f8;
  height: 100vh;
  padding: 50px;
  &__box {
    background: #fff;
    border: 1px solid #dee2e6;
    padding-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  }
  &__title {
    padding: 12px 7px 0;
    border-bottom: 1px solid #dee2e6;
    span {
      font-size: 20px;
      font-weight: 500;
      color: #000;
      margin: 0 40px;
    }
    p {
      margin: 5px 0px 15px 40px;
      color: #888;
    }
  }
  &__content {
    margin: 30px 50px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__group {
    width: 48%;
    label {
      color: #888;
      span {
        color: red;
      }
    }
    input {
      width: 100%;
      padding: 5px;
      margin-top: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
      transition: all 0.2s linear;
      &:hover {
        background: #e6e6e6;
        border: 1px solid #aaadaf;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
      }
    }
  }
  &__des {
    margin: 30px 50px;
    b {
      font-size: 17px;
    }
  }
}
